/* CSS VARIABLES */
:root{
	--primary: #ddd;
	--dark: #333;
	--light: #fff;
	--shadow: 0 1px 5px rgba(104,104, 104, 0.5);
}

/* House Skipping */

html{
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--dark) /*// to access variable */
}

body{
	background: #ccc;
	margin: 30px 5px; /*// top & bottom*/
	line-height: 1.4;

}

.btn{
	background-color: var(--dark);
	color: var(--light);
	padding: 0.6rem 1.3rem; /*// multiple by default style*/
	text-decoration: none;
	border: 0;
}

img{
	max-width:100%;
}


.wrapper{
	display: grid;
	grid-gap: 20px; /*// like space-between elements*/
	margin-left: 2.2rem;
	margin-right: 2.2rem;
}


/* Navigation */

.main-nav ul{
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style: none;
	grid-template-columns: repeat(4, 1fr);
}


.main-nav a{
	text-align:center;
	background: var(--primary);
	display: block;
	text-decoration: none;
	padding: 0.8rem;
	color: var(--dark);
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: var(--shadow);
}


.main-nav a:hover{
	background: var(--dark);
	color: var(--light);
}


.top-container{
	display: grid;
	grid-gap: 20px;
	grid-template-areas:
		'showcase showcase top-box-a'
		'showcase showcase top-box-b';
}


/* Now assign to target element */
/* Showcase */
.showcase{
	grid-area: showcase;
	min-height: 400px;
	padding: 3rem;
	background: url(imgs/showcase.jpeg) no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

.showcase h1{
	font-size: 4rem;
	color: var(--light);
	text-shadow: 0 1px 5px #111;
	margin-top:0;
	margin-bottom:0;
}

.showcase p{
	font-size: 1.2rem;
	color: var(--light);
	text-shadow: 0 1px 5px #111;
	margin-top:0;
}

/* Top box a */


.top-box{
	background: var(--primary);
	display: grid;
	align-items: center;
	justify-items: center;
	box-shadow: var(--shadow);
	padding: 1.5rem;
}


/* price */
.top-box .price{
	font-size:2.5rem;
}


.top-box-a{
	grid-area: top-box-a;
}

/* Top box b */
.top-box-b{
	grid-area: top-box-b;
}


/* Boxes */
.boxes{
	display:grid;
	grid-gap:20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.box{
	background: var(--primary);
	text-align:center;
	padding: 1.2rem 2rem;
	box-shadow: var(--shadow);
}


/* Info */
.infos{
	background: var(--primary);
	box-shadow: var(--shadow);
	display: grid;
	grid-gap:30px;
	grid-template-columns: repeat(2, 1fr);
	padding: 3rem;
}


/* Portfolio */
.portfolio{
	display:grid;
	grid-gap:20px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.portfolio img{
	width:100%;
	box-shadow: var(--shadow);
}


/* Footer */
.footer{
	background: var(--dark);
	color: var(--light);
	padding:1rem;
	margin-top:2rem;
	text-align:center
}



/* Media Queries */
@media (max-width: 720px){
	.top-container{
		grid-template-areas:
			'showcase showcase'
			'top-box-a top-box-b';
	}

	.showcase h1{
		font-size: 2.5rem;
	}

	.main-nav ul{
		grid-template-columns: 1fr;
	}

	.infos{
		grid-template-columns: 1fr;
	}

	.infos .btn{
		display:block;
		text-align:center;
		margin:auto;
	}
}


/* max 500px */
@media (max-width: 500px){
	.top-container{
		grid-template-areas:
			'showcase'
			'top-box-a'
			'top-box-b';
	}

	.main-nav a{
		font-size: 1rem;
	}

	.top-box .price{
		font-size: 2rem ;
	}

	.infos p{
		font-size: 1rem;
	}

	.portfolio{
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	}
}














